<div class="validation-container">
  <h2>Validar Asistencia</h2>
  <p class="subtitle">Escaneá el código QR del alumno o ingresá el token manualmente</p>

  <!-- Vista de cámara -->
  <div class="scanner-wrapper" *ngIf="scanning; else manualMode">
    <div class="video-container">
      <video #video  autoplay muted playsinline></video>
      <canvas #canvas style="display: none;"></canvas>
    </div>

    <div class="scanner-actions">
      <button mat-mini-fab color="warn" (click)="stopScanner()"  matTooltip="Ingresar token manualmente">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="status">
      <mat-icon *ngIf="!isReading">hourglass_empty</mat-icon>
      <mat-icon *ngIf="isReading">center_focus_strong</mat-icon>
      <span *ngIf="!isReading">Procesando...</span>
      <span *ngIf="isReading">Listo para escanear</span>
    </div>
  </div>

  <!-- Modo manual -->
  <ng-template #manualMode>
    <div class="manual-section">
      <mat-form-field appearance="outline" class="token-input">
        <mat-label>Ingresar token manualmente</mat-label>
        <input matInput [(ngModel)]="token" type="number" />
      </mat-form-field>

      <div class="manual-buttons">
        <button mat-raised-button color="primary" (click)="validateToken()">Validar Token</button>
        <button mat-stroked-button color="primary" (click)="toggleScanner()">
          <mat-icon>photo_camera</mat-icon> Usar cámara
        </button>
      </div>
    </div>
  </ng-template>

  <!-- Lista de alumnos validados -->
  <mat-card *ngIf="validatedStudents.length > 0" class="success-card">
    <mat-card-header>
      <mat-card-title>Alumnos Validados  ({{ validatedStudents.length }})</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let student of validatedStudents; let i = index">
          <div class="s-card" [class.highlight]="student === lastValidated">
            <img mat-card-avatar [src]="student.picture" alt="{{ student.name }}"> {{ student.name }} - {{ student.email }}
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
